In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
filepath = r'/Users/yusufmspahi/PycharmProjects/Imperial-Y2-Labs/Radioactivity/Data/11 - real - 1'
task_11 = pd.read_csv(filepath)

In [24]:
task_11.head()

   Counts
0     8.0
1    11.0
2    10.0
3    12.0
4     2.0

In [25]:

task_11.head()

   Counts
0     8.0
1    11.0
2    10.0
3    12.0
4     2.0